.signin-bg {
  // background: linear-gradient(90deg, rgba(255, 237, 231, 0) 0%, #ffede7 100%);
  background: linear-gradient(90deg, rgba(237, 250, 233, 0.2) 0%, #edfae9 100%);
  .signin-container {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    background: #fffcfb;
    border-radius: 1.32rem;
    padding: 32px 53px 53px;
    margin: 32px 0 200px;
    .text-muted {
      color: #dc3545 !important;
      font-size: 0.8rem;
    }
    .signin-label {
      color: #0a0029;
      font-weight: 900;
      font-size: 1.44rem;
      line-height: 3.6rem;
    }
    .signin-detail {
      font-size: 15px;
      line-height: 25px;
      color: #848484;
      padding-bottom: 35px;

    }
    .signin-form {
      input {
        height: 60px;
        border-radius: 20px;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding: 21px 0 22px 20px;
        color: #000;
        background: none;

      }
      input:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid #6ab950;
        transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: none;
      }
      .form-group {
        .form-control:focus {
          box-shadow: none;
        }
      }

      .register-button {
        background-color: #edfae9;
        margin-right: 20px;
        height: 60px;
        width: 190px;
        border-radius: 20px;
        color: #6ab950;
        font-size: 13px;
        line-height: 16px;
        border: none;
        font-weight: bold;
      }
      .signin-button {
        background-color: #6ab950;
        height: 60px;
        width: 190px;
        border-radius: 20px;
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        border: none;
        font-weight: bold;
      }
      .password {
        position: relative !important;
        .invalid {
          font-size: 0.875em;
          color: #dc3545;
          span {
            display: block;
          }
        }
        .input-group-text {
          position: absolute;
          background: none;
          border: 0;
          top: 30%;
          right: 10px;
          color: #a5a4a4;
          z-index: 1000;
        }
      }
    }
  }
}
::-webkit-input-placeholder {
  color: #a5a4a4;
  font-size: 14px;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #a5a4a4;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #a5a4a4;
  font-size: 14px;
  font-weight: 300;
}
