

.navbar {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
  padding-top: 3px;
  padding-bottom: 3px;
}
.navbar-nav {
  color: #6a6a6a;
  .nav-link {
    font-size: 14px;
    line-height: 18px;
    margin-right: 15px;
  }

  .login {
    color: #ed6638;
    font-weight: bold;
    font-size: 0.78rem;
    padding-top: 20px;
  }
  .btn-success {
    background-color: #fff;
    border-radius: 20px;
    width: 147px;
    font-size: 13px;
    line-height: 16px;
    color: #6ab950;
    height: 3.3rem;
    padding: 18px 0;
    border: 1px solid #6ab950;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }



}

.nav-link.active {
  color: #000 !important;
}

.navbar-brand {
  width: 150px;
  height: 37px;
  img {
    width: 100%;
  }
}
