<div *ngIf="loading">
  <div *ngFor="let i of [1,2,3]" class="loading-item">
    <div class="d-flex justify-content-left" style="gap: 4rem;">
      <span class="glow-checkbox"></span>
      <span class="glow-text"><span>Loading</span><span>cool</span></span>
      <span class="glow-text"><span>Loading</span><span>cool</span></span>
      <span class="glow-text"><span>Loading</span><span>cool</span></span>
      <span class="glow-text"><span>Loading</span><span>cool</span></span>
      <span class="glow-text"><span>Loading</span><span>cool</span><span>state</span></span>

    </div>
  </div>
</div>
